/* - JSL-Flex -
   License: MIT
   Author: Philipp Prelicz
   CSS Grid System based on flex-box */
   
.row {
    display: flex;
    flex-wrap: wrap;
}

.col, .row {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

@media (min-width: 45em) {
    .col-40 { width: 80%; 
    flex-grow: 1; }
    .col-30 { width: 60%;
    flex-grow: 1; }
    .col-20 { width: 40%;
    flex-grow: 1; }
    .col-10 { width: 20%; 
    flex-grow: 1; }
}

@media (min-width: 70em) {
    .col-100 { width: 100% }
    .col-90 { width: 90% }
    .col-80 { width: 80% }
    .col-70 { width: 70% }
    .col-60 { width: 60% }
    .col-50 { width: 50% }
    .col-40 { width: 40% }
    .col-30 { width: 30% }
    .col-20 { width: 20% }
    .col-10 { width: 10% }
}
